<div class="col-s-12 ">
    <div class="header" >
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <a href="" class="enlace">
                <img id="logo" src="../../../assets/img/logo2.svg" alt="logo">
            </a>
            <a routerLink='reserva' class="carro">
                <img src="../../../assets/img/carro.svg" alt="carrito">
            </a>
            <ul>
                <li><a routerLink='' class="active">Bebidas</a></li>
                <li><a *ngIf="usuarioactivo.length!=0 ||localactivo.length!=0" routerLink='info-user'>Mi perfil</a></li>
                <li><a *ngIf="usuarioactivo.length!=0 ||localactivo.length!=0" routerLink='entrega-pedidos'>Reservas</a></li>
                <li><a *ngIf="localactivo.length!=0" routerLink='gestion-distribuidor' >Gestion</a></li>
                <li><a *ngIf="adminactivo.length!=0 " routerLink='total-gestion' >Gestionar</a></li>
                <li><a *ngIf="adminactivo.length!=0||usuarioactivo.length!=0|| localactivo.length!=0"  (click)="borrar()" routerLink='login'>Cerrar Sesion</a></li>  
                <li><a *ngIf="adminactivo.length==0 && usuarioactivo.length==0 && localactivo.length==0" routerLink='login'>Iniciar Sesion</a></li>  
            </ul>
        </nav>
    </div>
</div>
