<div class="col-s-4">
    <div class="content-qr">
        <div class="image-qr">
            <img src="../../../assets/img/qr.svg" alt="qr">
        </div>
    </div>
</div>

<div class="col-s-8 exter-caja">
    <div class="inter-caja">
        <div class="detalle-producto">
            <div id="tittle">
                <h1>Lista Productos</h1>
            </div>
            <div   class="producto">
                <div id="nombre">
                    <p>Nombre</p>
                </div>

                <div id="precio">
                    
                    <p> Cantidad ㅤㅤㅤㅤㅤㅤㅤPrecio</p>
                </div>
            </div>
            <hr>
            <div class="detalles " *ngFor="let detallereserva1 of descripcionboletaService.detallereserva">
                
                <div   class="producto">
                    <div id="nombre">
                        <p>{{detallereserva1.getproductoDetalleReserva.getproducto.getnombreproducto}}</p>
                    </div>

                    <div id="precio">
                        
                        <p> {{detallereserva1.getcantiaddDEtalleReserva}} ㅤㅤㅤㅤㅤㅤㅤ{{detallereserva1.getproductoDetalleReserva.getprecioproductolocal*detallereserva1.getcantiaddDEtalleReserva}}</p>
                    </div>
                </div>
                
                
            </div>
            <div class="total">
                <div id="total">
                    <p>Total</p>
                </div>
                <div id="total-precio">
                    <p>{{descripcionboletaService.total(descripcionboletaService.detallereserva)}}</p>
                </div>
            </div>
            
            
        </div>
    </div>

</div>